@mixin cards-flex($display, $justify) {
    display: $display;
    justify-content: $justify;
}

@mixin condition($card-text-color) {
    color: $card-text-color;
    @if $card-text-color == rgb(122, 119, 119) {
        text-decoration: none;
    } @else {
        text-decoration: dashed;
    }
}